body {
    font-family: helvetica;
    min-width: 400px;
    background-color: white;
}
h1 {
  color: brown;
  background-color: white;
  margin: 20px 10;
  border-top: 3px solid brown;
  border-bottom: 3px solid brown;
  padding: 3px 0px;
  }
h4 {
  border-bottom: 2px solid brown;
  margin: 5px;
}
.rows {
  float: left;
  width: 100%;
  margin: 0 20px;
}
.backboard {
  max-width: 500px;
  font-size: 18px;
}
.score-board {
  display: inline-block;
  float: right;
  width: 120px;
  text-align: center;
}
.goal {
  color: red;
}
.move-board {
  display: inline-block;
  float: right;
  width: 100px;
  text-align: center;
}
.level {
  color: brown;
}
.box {
  float: left;
  /*border: 1px solid purple;*/
  border-radius: 5%;
  height: 75px;
  width: 75px;
  /*font-size: 75px;*/
  text-align: center;
  line-height: 75px;
  background-color: gray;
}
.switch-card {
  /*position: absolute;*/
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: right;
  height: 100px;
  width: 100px;
  border: 1px solid brown;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}
#switch-piece {
  /*border: 1px solid purple;*/
  border-radius: 5px;
  margin: 10px 10px;
  height: 75px;
  width: 75px;
  text-align: center;
  line-height: 75px;
/*  font-size: 75px;*/
}
.game-board {
  /*position: relative;*/
  text-align: center;
  min-width: 300px
  margin: auto auto;
}
.score {
  background-image: url(images/score.png);
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
.yellow {
  background-image: url(images/yellow_monster.png);
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
.blue {
  background-image: url(images/blue_monster.png);
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
.green {
  background-image: url(images/green_monster.png);
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
.gray {
  background-image: url(images/gray_monster.png);
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
.red {
  background-image: url(images/red_monster.png);
  background-repeat: no-repeat;
  background-size: 75px 75px;
}
