h1 {
  color: rebeccapurple;
  }
.rows {
  float: left;
  width: 100%;
  margin: 0 20px;
}

.box {
  float: left;
  border: 1px solid purple;
  height: 100px;
  width: 100px;
  font-size: 75px;
  text-align: center;
  line-height: 100px;
  list-style: none;
}
.game-board {
  /*position: relative;*/
  text-align: center;

}
.switch-card {
  /*position: absolute;*/
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: right;
  height: 120px;
  width: 120px;
  border: 1px solid purple;
}
#switch-piece {
  border: 1px solid purple;
  margin: 10px 10px;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 75px;
}
.score {
  background-color: pink;
  color: white;
}
